<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <form action="login" method="post">
        <H1>lOGIN</H1>

        <input type="text" name="username" id="username">
        <input type="email" name="usermail" id="usermail">
        <input type="password" name="userpass" id="userpass">

        <button type="submit">login</button>

    </form>


</body>
</html>